<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AcromineDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA1397161C30C8C900186D81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA13972F1C30C8C900186D81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA13973A1C30C8C900186D81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
